<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--<target name="file" xsitype="File" fileName="D:\logs\NLog.log" layout="${longdate}|${message}"/>-->
    <target name="file"
            xsi:type="File"
            fileName="D:\NlogWeb\ErrorLogFile.log"
            layout="--------------------- ${level}(${longdate})${machinename}-------------------- ${newline}
Exception Type:${exception:format=Type}${newline} 
Exception Message:${exception:format=Message}${newline}  
Stack Trace:${exception:format=Stack Trace}${newline}  
Additional Info:${message}${newline}" >
    </target>
  </targets>

  <!--<rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>-->
  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>
